%main.l-container.clearfix
  .l-content
    %section.mypage-tab-container
      %h2.mypage-tab-head 
        出品した商品
      %ul.listing-tabs
        %li.active
          %h3
            =link_to "#", data-toggle: tab 
              出品中
        %li
          %h3
            =link_to "#",
              取引中
　　　　　%li
          %h3
            =link_to "#",
              売却済み
      .tab-content
        %ul#mypage-tab-tansaction-old.mypage-item-list.tab-pane: active   
          %li
            =link_to "#", class: mypage-item-link
              %figure
                = image_tag '/goods_sample_2.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  清水寺
                .mypage-item-status.bold.done
                  売却済
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: mypage-item-link
              %figure
                = image_tag '/goods_sample_2.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  清水寺
                .mypage-item-status.bold.done
                  売却済
              %i.icon-arrow-right 
                \::before      
          %li
            =link_to "#", class: mypage-item-link
              %figure
                = image_tag '/goods_sample_2.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  清水寺
                .mypage-item-status.bold.done
                  売却済
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: mypage-item-link
              %figure
                = image_tag '/goods_sample_2.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  清水寺
                .mypage-item-status.bold.done
                  売却済
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: mypage-item-link
              %figure
                = image_tag '/goods_sample_2.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  清水寺
                .mypage-item-status.bold.done
                  売却済
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: mypage-item-link
              %figure
                = image_tag '/goods_sample_2.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  清水寺
                .mypage-item-status.bold.done
                  売却済
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: mypage-item-link
              %figure
                = image_tag '/goods_sample_2.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  清水寺
                .mypage-item-status.bold.done
                  売却済
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: mypage-item-link
              %figure
                = image_tag '/goods_sample_2.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  清水寺
                .mypage-item-status.bold.done
                  売却済
              %i.icon-arrow-right 
                \::before
                
      %ul.mypage-history.pager
        %li.pager-prev.pager-cell 
          =link_to "#"
            %i.icon-arrow-left 
              \::before
        %li.pager-next.pager-cell 
          =link_to "#"
            %i.icon-arrow-right
              \::before