%main.l-container.clearfix
  .l-content
    %section.mypage-tab-container-notification-todo 
      %ul.mypage-tabs
        %li.active
          %h3
            =link_to "#"
              お知らせ
        %li.
          %h3
            =link_to "#"
              やることリスト
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          %li
            =link_to "#", class: mypage-item-link
              %figure
                =image_tag '/mercari_logo_basic_type', size: "", alt: "##" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                    メルカリさん、他3名が「メルカリ限定...」にいいね！しました 
                %time 
                  %i.icon-time
                    \::before
                  %span
                    5時間前

              %i.icon-arrow-right
                \::before
          %li
            =link_to "", class: mypage-item-link, data-open: modal, data-modal: banner  
              %figure
                = image_tag '/mercari_logo_basic', size: "", alt: "" , class: 'lazyloaded'  
              .mypage-item-body
                .mypage-item-text
                  【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                  %time
                    %i.icon-time
                      \::before
                    %span
                      10時間前
              %i.icon-arrow-right     
                \::before   
          %li
            =link_to "", class: mypage-item-link, data-open: modal, data-modal: banner  
              %figure
                = image_tag '/mercari_logo_basic', size: "", alt: "" , class: 'lazyloaded'  
              .mypage-item-body
                .mypage-item-text
                  【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                  %time
                    %i.icon-time
                      \::before
                    %span
                      10時間前
              %i.icon-arrow-right     
                \::before 
          %li
            =link_to "", class: mypage-item-link, data-open: modal, data-modal: banner  
              %figure
                = image_tag '/mercari_logo_basic', size: "", alt: "" , class: 'lazyloaded'  
              .mypage-item-body
                .mypage-item-text
                  【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                  %time
                    %i.icon-time
                      \::before
                    %span
                      10時間前
              %i.icon-arrow-right     
                \::before 
          %li
            =link_to "", class: mypage-item-link, data-open: modal, data-modal: banner  
              %figure
                = image_tag '/mercari_logo_basic', size: "", alt: "" , class: 'lazyloaded'  
              .mypage-item-body
                .mypage-item-text
                  【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                  %time
                    %i.icon-time
                      \::before
                    %span
                      10時間前
              %i.icon-arrow-right     
                \::before 
          %li
            =link_to "", class: mypage-item-link, data-open: modal, data-modal: banner  
              %figure
                = image_tag '/mercari_logo_basic', size: "", alt: "" , class: 'lazyloaded'  
              .mypage-item-body
                .mypage-item-text
                  【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                  %time
                    %i.icon-time
                      \::before
                    %span
                      10時間前
              %i.icon-arrow-right     
                \::before 
          %li
            =link_to "", class: mypage-item-link, data-open: modal, data-modal: banner  
              %figure
                = image_tag '/mercari_logo_basic', size: "", alt: "" , class: 'lazyloaded'  
              .mypage-item-body
                .mypage-item-text
                  【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                  %time
                    %i.icon-time
                      \::before
                    %span
                      10時間前
              %i.icon-arrow-right     
                \::before 
          %li
            =link_to "", class: mypage-item-link, data-open: modal, data-modal: banner  
              %figure
                = image_tag '/mercari_logo_basic', size: "", alt: "" , class: 'lazyloaded'  
              .mypage-item-body
                .mypage-item-text
                  【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                  %time
                    %i.icon-time
                      \::before
                    %span
                      10時間前
              %i.icon-arrow-right     
                \::before 
          %li
            =link_to "", class: mypage-item-link, data-open: modal, data-modal: banner  
              %figure
                = image_tag '/mercari_logo_basic', size: "", alt: "" , class: 'lazyloaded'  
              .mypage-item-body
                .mypage-item-text
                  【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                  %time
                    %i.icon-time
                      \::before
                    %span
                      10時間前
              %i.icon-arrow-right     
                \::before 
          %li
            =link_to "", class: mypage-item-link, data-open: modal, data-modal: banner  
              %figure
                = image_tag '/mercari_logo_basic', size: "", alt: "" , class: 'lazyloaded'  
              .mypage-item-body
                .mypage-item-text
                  【あと2日】参加ボタンを押すだけでポイントがもらえる！総額1億円相当還元！詳しくはこちら
                  %time
                    %i.icon-time
                      \::before
                    %span
                      10時間前
              %i.icon-arrow-right     
                \::before         

              
