-# 他cssとの干渉をさけるため、全体をラップする
.login-header-wrapper

  -# ログインページ用ヘッダー
  = render 'shared/login-header'

  -# 電話番号の入力部分
  .main
    %section.main-content
      %h2.main-content__header
        電話番号の確認
      = form_with(url: '#') do |f|
        .form-content
          .form-group
            = f.label  "携帯電話の番号"
            = f.text_field :name, class: "phone-number" , placeholder: '携帯電話の番号を入力'
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          %button SMSを送信する
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .form-text
            %a 電話番号の確認が必要な理由
            %i.fas.fa-chevron-right
      
    -# ページのフッター部分
    %footer.confirmation-footer
      %ul.confirmation-footer-container
        %li.confirmation-footer-container__list
          =link_to '#', class: 'confirmation-footer-container__list__info' do
            プライバシーポリシー
        %li.confirmation-footer-container__list
          =link_to '#', class: 'confirmation-footer-container__list__info' do
            メルカリ利用規約
        %li.confirmation-footer-container__list
          =link_to '#', class: 'confirmation-footer-container__list__info' do
            特定商取引に関する表記

        = image_tag '/mercari-logo-gray.svg', size: "", alt: "mercari-logo-gray" , class: 'confirmation-footer-container__image'

      .confirmation-footer-container__footer-text
        ©︎2019 Mercari