-# ページのヘッダー部分
.confirmation-header
  %h1
    =link_to root_path, class: "confirmation-heade__link" do
      = image_tag '/confirmation-mercarilogo.svg', size: "", alt: "confirmation-mercarilogo" , class: 'confirmation-header__link__mercarilogo'

-# メイン画面
%main.confirmation-main
  %section.confirmation-main__container
    -# メイン画面ヘッダー
    %h2.confirmation-main__container__header
      購入内容の確認
    
    -# 商品情報、値段など                  

    %section.confirmation-main__container__buy-content
      .confirmation-main__container__buy-content__inner
        %h3.confirmation-main__container__buy-content__inner__item
          -# 以下翻訳：重要 アソシエーションでhas_manyを定義しているため複数の画像(images)の中から一番初め(first)の画像を取ってくる、この考え方が超重要で単数形(image)もしくは(first)が抜けるとエラーが発生する。
          = image_tag @good.images.first.goods_picture.url, class: "confirmation-main__container__buy-content__inner__item__image"
        %p.confirmation-main__container__buy-content__inner__item-name
          = @good.goods_name
        -# ポイント、支払い金額、購入ボタン
        = form_with(url: pay_purchase_index_path, method: :post, class: 'confirmation-main__container__buy-content__inner__buy-form') do |f|
          .confirmation-main__container__buy-content__inner__buy-form__list
            %p.confirmation-main__container__buy-content__inner__buy-form__list__price
              = number_to_currency(@good.price, unit: "￥", precision: 0, locale: 'en')
              %span.confirmation-main__container__buy-content__inner__buy-form__list__price__text
                送料込み
            %ul.confirmation-main__container__buy-content__inner__buy-form__list__point
              ポイントはありません
            %ul.confirmation-main__container__buy-content__inner__buy-form__list__table
              %li.confirmation-main__container__buy-content__inner__buy-form__list__table__list
                .confirmation-main__container__buy-content__inner__buy-form__list__table__list__left-text
                  支払い金額
                .confirmation-main__container__buy-content__inner__buy-form__list__table__list__right-text
                  = number_to_currency(@good.price, unit: "￥", precision: 0, locale: 'en')
              = form_tag(action: :pay, method: :post) do
                %button.btn 購入する
    
    -# ユーザー情報、配送先
    %section.confirmation-main__container__buy-info
      .confirmation-main__container__buy-info__container
        %h3 配送先
        %address.confirmation-main__container__buy-info__container__address
          .confirmation-main__container__buy-info__container__address__postal-code 
            = "〒#{current_user.address.postalcode}"
          .confirmation-main__container__buy-info__container__address__address-name 
            = current_user.address.city
          .confirmation-main__container__buy-info__container__address__user-name  
            = "#{current_user.address.family_name + current_user.address.first_name}"
          =link_to  '#', class: 'confirmation-main__container__buy-info__container__user-info-fix' do
            変更する
            %i.fas.fa-chevron-right

    -# 支払い方法
    %section.confirmation-main__container__credit-info
      .confirmation-main__container__credit-info__inner
        %h3 支払い方法
        .confirmation-main__container__credit-info__inner__card-number
          ************1234
        .confirmation-main__container__credit-info__inner__deadline
          10/25
        %img.confirmation-main__container__credit-info__inner__logo{alt: "card-logo", src: "/visa.svg"}

-# ページのフッター部分
%footer.purchase-confirmation-footer
  %ul.confirmation-footer-container
    %li.confirmation-footer-container__list
      =link_to '#', class: 'confirmation-footer-container__list__info' do
        プライバシーポリシー
    %li.confirmation-footer-container__list
      =link_to '#', class: 'confirmation-footer-container__list__info' do
        メルカリ利用規約
    %li.confirmation-footer-container__list
      =link_to '#', class: 'confirmation-footer-container__list__info' do
        特定商取引に関する表記

    = image_tag '/mercari-logo-gray.svg', size: "", alt: "mercari-logo-gray" , class: 'confirmation-footer-container__image'

  .confirmation-footer-container__footer-text
    ©︎2019 Mercari