-# ページのヘッダー部分
.confirmation-header
  %h1
    =link_to root_path, class: "confirmation-heade__link" do
      = image_tag '/confirmation-mercarilogo.svg', size: "", alt: "confirmation-mercarilogo" , class: 'confirmation-header__link__mercarilogo'

-# 購入内容詳細
.purchase-completed-wrapper
  .purchase-completed-wrapper__main-container
    .purchase-completed-wrapper__main-container__header
      %i.far.fa-clock.purchase-completed-wrapper__main-container__header__icon
      .purchase-completed-wrapper__main-container__header__upper 
        発送をお待ちください
      .purchase-completed-wrapper__main-container__header__lower 
        出品者からの発送通知をお待ちください
    
    .purchase-completed-wrapper__main-container__result
      .purchase-completed-wrapper__main-container__result__text
        購入完了しました
    
    -# 商品画像
    .purchase-completed-wrapper__main-container__info
      = image_tag @good.images.first.goods_picture.url, class: 'purchase-completed-wrapper__main-container__info__image'

      .purchase-completed-wrapper__main-container__info__name
        = @good.goods_name
    
    -# 金額
    .purchase-completed-wrapper__main-container__price
      .purchase-completed-wrapper__main-container__price__value
        = "¥#{@good.price}"
      .purchase-completed-wrapper__main-container__price__note
        送料込み

    -# 配送先情報
    .purchase-completed-wrapper__main-container__address
      .purchase-completed-wrapper__main-container__address__title
        配送先
      .purchase-completed-wrapper__main-container__address__post-code
        = "〒#{@good.user.address.postalcode}"
      .purchase-completed-wrapper__main-container__address__city
        = @good.user.address.city
      .purchase-completed-wrapper__main-container__address__name
        = "#{@good.user.address.family_name + @good.user.address.first_name}"



-# ページのフッター部分
%footer.purchase-confirmation-footer
  %ul.confirmation-footer-container
    %li.confirmation-footer-container__list
      =link_to '#', class: 'confirmation-footer-container__list__info' do
        プライバシーポリシー
    %li.confirmation-footer-container__list
      =link_to '#', class: 'confirmation-footer-container__list__info' do
        メルカリ利用規約
    %li.confirmation-footer-container__list
      =link_to '#', class: 'confirmation-footer-container__list__info' do
        特定商取引に関する表記

    = image_tag '/mercari-logo-gray.svg', size: "", alt: "mercari-logo-gray" , class: 'confirmation-footer-container__image'

  .confirmation-footer-container__footer-text
    ©︎2019 Mercari