= render 'shared/main_page_header'
= render 'shared/profile-sidebar'

%main.l-container.clearfix
  .l-content
    %section.mypage-tab-container
      %h2.mypage-tab-head 
        出品した商品
      %ul.listing-tabs
        %li.active
          %h3
            =link_to "#" do
              出品中
        %li
          %h3
            =link_to "#" do
              取引中
        %li
          %h3
            =link_to "#" do
              売却済み
      %ul#mypage-tab-tansaction-now__mypage-item-list__tab-pane--active   
        %li
          = link_to "#", class: 'mypage-item-link' do
            %figure
              = image_tag '/goods_sample_1.jpg', size: "", alt: "" , class: 'lazyloaded'
            .mypage-item-body.show-stock-item
              .mypage-item-text
                新品中禅寺湖
            %i.icon-arrow-right 
        %li
          = link_to "#", class: 'mypage-item-link' do
            %figure
              = image_tag '/goods_sample_1.jpg', size: "", alt: "" , class: 'lazyloaded'
            .mypage-item-body.show-stock-item
              .mypage-item-text
                新品中禅寺湖
              %div
                %span.lisiting-item-count
                  %i.icon-like-border
                  %span
                    5
                %span.listing-item-count
                  %i.icon-message
                  %span
                    0
                  .mypage-item-status.bold.awating
                    出品中   
            %i.icon-arrow-right    
        %li
          = link_to "#", class: 'mypage-item-link' do
            %figure
              = image_tag '/goods_sample_1.jpg', size: "", alt: "" , class: 'lazyloaded'
            .mypage-item-body.show-stock-item
              .mypage-item-text
                新品中禅寺湖
              %div
                %span.lisiting-item-count
                  %i.icon-like-border
                  %span
                    5
                %span.listing-item-count
                  %i.icon-message
                  %span
                    0
                  .mypage-item-status.bold.awating
                    出品中   
            %i.icon-arrow-right 
        %li
          = link_to "#", class: 'mypage-item-link' do
            %figure
              = image_tag '/goods_sample_1.jpg', size: "", alt: "" , class: 'lazyloaded'
            .mypage-item-body.show-stock-item
              .mypage-item-text
                新品中禅寺湖
              %div
                %span.lisiting-item-count
                  %i.icon-like-border
                  %span
                    7
                %span.listing-item-count
                  %i.icon-message
                  %span
                    2
                  .mypage-item-status.bold.awating
                    出品中   
            %i.icon-arrow-right 
        %li
          = link_to "#", class: 'mypage-item-link' do
            %figure
              = image_tag '/goods_sample_1.jpg', size: "", alt: "" , class: 'lazyloaded'
            .mypage-item-body.show-stock-item
              .mypage-item-text
                新品中禅寺湖
              %div
                %span.lisiting-item-count
                  %i.icon-like-border
                  %span
                    3
                %span.listing-item-count
                  %i.icon-message
                  %span
                    6
                  .mypage-item-status.bold.awating
                    出品中   
            %i.icon-arrow-right 
        %li
          = link_to "#", class: 'mypage-item-link' do
            %figure
              = image_tag '/goods_sample_1.jpg', size: "", alt: "" , class: 'lazyloaded'
            .mypage-item-body.show-stock-item
              .mypage-item-text
                新品中禅寺湖
              %div
                %span.lisiting-item-count
                  %i.icon-like-border
                  %span
                    1
                %span.listing-item-count
                  %i.icon-message
                  %span
                    0
                  .mypage-item-status.bold.awating
                    出品中   
            %i.icon-arrow-right 
        %li
          = link_to "#", class: 'mypage-item-link' do
            %figure
              = image_tag '/goods_sample_1.jpg', size: "", alt: "" , class: 'lazyloaded'
            .mypage-item-body.show-stock-item
              .mypage-item-text
                新品中禅寺湖
              %div
                %span.lisiting-item-count
                  %i.icon-like-border
                  %span
                    0
                %span.listing-item-count
                  %i.icon-message
                  %span
                    0
                  .mypage-item-status.bold.action-required
                    公開停止中  
            %i.icon-arrow-right 
    %ul.mypage-history.pager
      %li.pager-prev.pager-cell 
        =link_to "#" do
          %i.icon-arrow-left 
      %li.pager-next.pager-cell 
        =link_to "#" do
          %i.icon-arrow-right

= render 'shared/aside'
= render 'shared/footer'           


