=render 'shared/main_page_header'
.bread_crumbs
  .bread_crumbs__line
    -# config/breadcrumbs.rbに定義したmypageを呼び出し
    - breadcrumb :put_up_goods_on_sale
    -# 下記を記述した箇所にパンくずリストが表示される。
    = breadcrumbs separator: "#{content_tag(:i, '', class: 'fas fa-chevron-right')}", class: "breadcrumbs-list"



%main.put_up_goods_on_sale.clearfix
  =render 'shared/profile-sidebar'
  .put_up_goods_on_sale__content
    %section.put_up_goods_on_sale__content__container
      %h2.put_up_goods_on_sale__content__container__tab-head 
        出品した商品
      %ul.put_up_goods_on_sale__content__container__list-tabs
        %li.put_up_goods_on_sale__content__container__list-tabs__list-left--active
          %h3.put_up_goods_on_sale__content__container__list-tabs__list-center__block
            =link_to "#", class: 'put_up_goods_on_sale__content__container__list-tabs__list-left--active__text' do
              出品中
        %li.put_up_goods_on_sale__content__container__list-tabs__list-center
          %h3.put_up_goods_on_sale__content__container__list-tabs__list-center__block
            =link_to "#", class: 'put_up_goods_on_sale__content__container__list-tabs__list-center__text' do
              取引中
        %li.put_up_goods_on_sale__content__container__list-tabs__list-right
          %h3.put_up_goods_on_sale__content__container__list-tabs__list-right__block
            =link_to "#", class: 'put_up_goods_on_sale__content__container__list-tabs__list-right__text' do
              売却済み

      .put_up_goods-lists
        -# 出品中商品の画像、名前のなどの読み出し。部分テンプレートで繰り返し表記してます(神山)
        = render partial: 'exhibit' , collection: @user.goods.to_a

    -# ペイジャーは余力あったら作る
    %ul.mypage-history.pager
      %li.pager-prev.pager-cell 
        =link_to "#" do
          %i.icon-arrow-left 
      %li.pager-next.pager-cell 
        =link_to "#" do
          %i.icon-arrow-right

= render 'shared/aside'
= render 'shared/footer'           


