.top-page-middle-wrapper
  .middle
    .middle__main
      .middle__main__slide
        = image_tag '/merucari_top1.png', alt: "slidepage", class: "middle__main__slide__area"
      .middle__main__category
        %h2.middle__main__category__text
          人気のカテゴリー
        .middle__main__category__under
          %ul.middle__main__category__under__area
            %li.middle__main__category__under__area__a
              =link_to "#", class:"middle__main__category__under__area__a__parts" do
                レディース
              =link_to "#", class:"middle__main__category__under__area__a__parts" do
                メンズ
              =link_to "#", class:"middle__main__category__under__area__a__parts" do
                家電・スマホ・カメラ
              =link_to "#", class:"middle__main__category__under__area__a__parts" do
                おもちゃ・ホビー・グッズ
      .middle__main__block
        .middle__main__block__item
          .middle__main__block__item__top
            %h3.middle__main__block__item__top__left
              レディース新着アイテム
              =link_to "#", class:'middle__main__block__item__top__left__text-see-more' do
                もっと見る
                %i.fas.fa-chevron-right.middle__main__block__item__top__left__text-see-more__arrow-icon
                
          .block_area
            = render partial: "show_goods_all", collection: @goods_new_ladies
            
      .middle__main__block
        .middle__main__block__item
          .middle__main__block__item__top
            %h3.middle__main__block__item__top__left
              メンズ新着アイテム
              =link_to "#", class:'middle__main__block__item__top__left__text-see-more' do
                もっと見る
                %i.fas.fa-chevron-right.middle__main__block__item__top__left__text-see-more__arrow-icon

          .block_area
            = render partial: "show_goods_all", collection: @goods_new_men       

      .middle__main__block
        .middle__main__block__item
          .middle__main__block__item__top
            %h3.middle__main__block__item__top__left
              レディース過去のアイテム
              =link_to "#", class:'middle__main__block__item__top__left__text-see-more' do
                もっと見る
                %i.fas.fa-chevron-right.middle__main__block__item__top__left__text-see-more__arrow-icon
          .block_area
            = render partial: "show_goods_all", collection: @goods_old_ladies
      .middle__main__block
        .middle__main__block__item
          .middle__main__block__item__top
            %h3.middle__main__block__item__top__left
              メンズ過去のアイテム
              =link_to "#", class:'middle__main__block__item__top__left__text-see-more' do
                もっと見る
                %i.fas.fa-chevron-right.middle__main__block__item__top__left__text-see-more__arrow-icon
          .block_area
            = render partial: "show_goods_all", collection: @goods_old_men
      .middle__main__category
        %h2.middle__main__category__text
          人気のブランド
        .middle__main__category__under
          %ul.middle__main__category__under__area
            %li.middle__main__category__under__area__a
              =link_to "#", class:"middle__main__category__under__area__a__parts" do
                ルイヴィトン
              =link_to "#", class:"middle__main__category__under__area__a__parts" do
                イヴ・サンローラン
              =link_to "#", class:"middle__main__category__under__area__a__parts" do
                アディダス
              =link_to "#", class:"middle__main__category__under__area__a__parts" do
                ナイキ
      .middle__main__block
        .middle__main__block__item
          .middle__main__block__item__top
            %h3.middle__main__block__item__top__left
              ルイヴィトン新着アイテム
              =link_to "#", class:'middle__main__block__item__top__left__text-see-more' do
                もっと見る
                %i.fas.fa-chevron-right.middle__main__block__item__top__left__text-see-more__arrow-icon
          .block_area
            = render partial: "show_goods_all", collection: @goods_new_lv
      .middle__main__block
        .middle__main__block__item
          .middle__main__block__item__top
            %h3.middle__main__block__item__top__left
              イヴ・サンローラン新着アイテム
              =link_to "#", class:'middle__main__block__item__top__left__text-see-more' do
                もっと見る
                %i.fas.fa-chevron-right.middle__main__block__item__top__left__text-see-more__arrow-icon
          .block_area
            = render partial: "show_goods_all", collection: @goods_new_ysl
      .middle__main__block
        .middle__main__block__item
          .middle__main__block__item__top
            %h3.middle__main__block__item__top__left
              アディダス新着アイテム
              =link_to "#", class:'middle__main__block__item__top__left__text-see-more' do
                もっと見る
                %i.fas.fa-chevron-right.middle__main__block__item__top__left__text-see-more__arrow-icon
          .block_area
            = render partial: "show_goods_all", collection: @goods_new_adidas
      .middle__main__block
        .middle__main__block__item
          .middle__main__block__item__top
            %h3.middle__main__block__item__top__left
              ナイキ新着アイテム

              =link_to "#", class:'middle__main__block__item__top__left__text-see-more' do
                もっと見る
                %i.fas.fa-chevron-right.middle__main__block__item__top__left__text-see-more__arrow-icon
          .block_area
            = render partial: "show_goods_all", collection: @goods_new_nike

  =link_to new_good_path, class: 'exhibit_btn' do
    .exhibit_btn__moji
      出品
    %i.fas.fa-camera

= render 'shared/aside'
= render 'shared/footer'
