.container
  .contents
    .header 
      %a{href: "/"}
        %img{alt: "mercari",width: 185,height: 95,src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763"}/
    .main
      .login-page
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          = link_to '/users/sign_up', class: 'new' do
            新規会員登録
        .login-form-inner
          = link_to'#', class: 'btn facebook' do
            %i.fab.fa-facebook-square
            Facebookでログイン
          
          = link_to'#', class: 'btn google' do
            %img.fab.fa-google{src: "https://img.icons8.com/color/20/000000/google-logo.png"}
            Googleでログイン
        .form
          .form-inner
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-inner__mail
              = f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: 'login-input-text'
              -# %input.login-input-text{name: "email",placeholder: "メールアドレス",type: "email",value: ""}
            .form-inner__mail
              = f.password_field :password, autocomplete: "off", placeholder:"パスワード", class: 'login-input-text'
              -# %input.login-input-text{name: "password",placeholder: "パスワード",type: "password"}
            .form-inner__lobot
              .login-captcha
                .form-group
                  .g-recaptcha.login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
                  = f.submit 'ログイン', class: 'login-btn'
                -# %button.login-btn{type: "submit"} ログイン              
                %a{href: "https://www.mercari.com/jp/password/reset/start/"} パスワードをお忘れの方

    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            %a{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      %a.single-footer-logo{href: "https://www.mercari.com/jp/"}
        %img{alt: "mercari",height: "65",src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2482339763",width: "80"}
      %p
        %small © 2019 Mercari

