= render 'shared/main_page_header'
.search-page-middle-wrapper
  .middle-search-area
    .search-conteiner
      .search-right
        .search-right__left-text
          = @keyword
          .search-right__right-text
            の検索結果
      .search-middle__main__block
        .search-middle__main__block__item
          .search-middle__main__block__item__top
            .block_area
              = render partial: "show_goods_all", collection: @goods
  =link_to new_good_path, class: 'exhibit_btn' do
    .exhibit_btn__moji
      出品
    %i.fas.fa-camera
  
  = paginate @goods

= render 'shared/aside'
= render 'shared/footer'
