.container
  = form_with url: "#", method: :post , class: 'item-box' do
    %h1.item-box__name 
    = @good.goods_name 
    %p.item-box__detail 
    = @good.goods_description
    .item-main
      .item-photo
        .photo-big{:style => "background-image: url(#{@image.goods_picture});"}
        -# = @image.goods_picture
        .photo-small
      %table.item-detail
        %tr
          %th.category 出品者
          %td
            = link_to "#", class:"name" do
              名前（仮）
            .user-rating
              .item-user-ratings
                %i.fas.fa-laugh 
                  %span.text 3
              .item-user-ratings
                %i.fas.fa-meh
                  %span.text 0
              .item-user-ratings
                %i.fas.fa-frown
                  %span.text 0
            
          %tr
            %th.category カテゴリー
            %td
              .item-detail-table-sub-category
              %i.fa.fa-chevron-right.items-link_to
              
              .item-detail-table-sub-sub-category
              %i.fa.fa-chevron-right.items-link_to
              
          %tr
            %th.category ブランド
            %td

          %tr
            %th.category 商品のサイズ
            %td M
            
          %tr
            %th.category 商品の状態
            %td 未使用に近い
            
          %tr
            %th.category 配送料の負担
            %td 送料込み(出品者負担)
              
          %tr
            %th.category 配送の方法
            %td (ゆうゆうメルカリ便)
            
          %tr
            %th.category 発送元地域
            %td.name 千葉県
            
          %tr
            %th.category 発送日の目安
            %td 2~3日で発送
            

    .price-box
      %span.price-box__price
        = @good.price
      %span.price-box__tax
        (税込)
      %span.price-box__fee
        送料込み
    =link_to "http://localhost:3000/purchase/show", class: "item-buy-btn" do
      購入画面に進む
    .item-description
      %p.item-description__inner
        ミニワンピなので、下にスカートや
        ショートパンツなどを合わせてください！

        オレンジが爽やかで、春らしいです♪

        素材：綿  60%
        
    .button-content
      .button-content__left
        .button-like
          %i.far.fa-heart
          = link_to "#", class: "button-like__text" do
            いいね！ 0
        .button-report
          %i.far.fa-flag
          = link_to "#", class: "button-report__text" do
            不適切な商品の報告
      
      = link_to "#", class: "button-content__right" do
        %i.fas.fa-lock
          あんしんあんぜんへの取り組み




  .detail
  %ul.nav-link
  .social-box
  .user-box
  .nav-bread
  .app-banner
    
  .footer
