-# https://www.mercari.com/jp/mypage/card/ クレジット登録画面1
!!!
%html
  %head
    %header= render "shared/main_page_header"

    .contents-box
      %profile-main= render "shared/credit1"
      %profile-side= render "shared/profile-sidebar"

  %footer
    = render "shared/aside"
    = render "shared/footer"